# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Ignore large posterior samples files
data/posterior-samples/model-parameters/bartlema-diagonal-filtered-gcm.rds
data/posterior-samples/model-parameters/bartlema-diagonal-filtered-chmm.rds
data/posterior-samples/model-parameters/lee-navarro-type4-filtered-chmm.rds

data/posterior-samples/model-parameters/bartlema-diagonal-filtered-transfer1-chmm.rds
data/posterior-samples/model-parameters/bartlema-diagonal-filtered-transfer3-chmm.rds
data/posterior-samples/model-parameters/bartlema-diagonal-filtered-transfer5-chmm.rds
data/posterior-samples/model-parameters/bartlema-diagonal-filtered-transfer7-chmm.rds

data/posterior-samples/model-parameters/bartlema-diagonal-filtered-transfer1-gcm.rds
data/posterior-samples/model-parameters/bartlema-diagonal-filtered-transfer3-gcm.rds
data/posterior-samples/model-parameters/bartlema-diagonal-filtered-transfer5-gcm.rds
data/posterior-samples/model-parameters/bartlema-diagonal-filtered-transfer7-gcm.rds

# Ignore posterior adequacy samples
data/posterior-samples/posterior-adequacy/bartlema-diagonal-filtered-chmm.rds
data/posterior-samples/posterior-adequacy/lee-navarro-type4-filtered-chmm.rds

# Ignore posterior predictive distribution files
data/posterior-samples/posterior-predictive/bartlema-diagonal-filtered-transfer1-chmm.rds
data/posterior-samples/posterior-predictive/bartlema-diagonal-filtered-transfer3-chmm.rds
data/posterior-samples/posterior-predictive/bartlema-diagonal-filtered-transfer5-chmm.rds
data/posterior-samples/posterior-predictive/bartlema-diagonal-filtered-transfer7-chmm.rds

